---
const pageTitle = "A propos de moi";
const identity = {
  firstName: "Charlotte",
  country: "Charlotte",
  occupation: "Charlotte",
};

const skills = [
  "HTML",
  "CSS",
  "Javascript",
  "React",
  "Astro",
  "Rédaction de documentation",
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-bg">
    <nav
      class="bg-bg text-marron font-Fredo font-semibold text-base md:text-3xl"
    >
      <div
        class="flex justify-between items-center px-3 py-3 md:px-8 md:py-4 pb-10"
      >
        <a href="/">ACCUEIL</a>
        <div class="flex items-center space-x-2 md:space-x-4">
          <a href="/about">MES PROJECTS</a>
          <img src="/etoileB.webp" class="md:w-10 w-6" />
          <a href="/contact">CONTACT</a>
        </div>
      </div>
    </nav>
    <img src="/projet.webp" class="w-5/5 block 2xl:hidden" />
      <img src="/projets2.webp" class="w-5/5 hidden 2xl:block" />
    <div class="container mx-auto p-6 space-y-16">
      <!-- Motion Design Section -->
      <section>
        <div class="place-content-between flex">
          <h1 class="text-4xl text-rose uppercase font-Fredo  font-semibold">Motion design</h1>
          <p class="text-jaune text-2xl font-Fredo  font-semibold">2024</p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
          <div class="space-y-4 text-xs md:text-sm 2xl:text-lg">
            <p class="">
              Pour ce projet, nous avons décidé de reprendre des illustrations que nous avions déjà réalisées et de les adapter en un motion design d’une durée de 15 à 30 secondes environ.
            </p>
            <p class="">
              J’ai choisi de réutiliser mes illustrations créées pour la Fédération HIERO, une organisation qui programme des concerts. Pour le style graphique, j’ai souhaité développer un univers inspiré du genre horrifique.            </p>
            <p class="">
              Pour renforcer cette ambiance, j’ai ajouté une musique de fond aux tonalités angoissantes. J’ai également voulu structurer mon motion design autour d’un unique plan, en m’inspirant du film La Corde d’Alfred Hitchcock, qui donne l’illusion d’être tourné en une seule prise.            </p>
          </div>
          <div class="flex gap-4">
            <img src="motion1.webp" alt="Illustration HIERO 1" class="w-1/2 h-auto ">
            <img src="motion2.webp" alt="Illustration HIERO 2" class="w-1/2 h-auto ">
          </div>
        </div>
      </section>
      <div>
        <img src="">
      </div>
  
      <!-- Affiche HIERO Section -->
      <section>
        <div class="place-content-between flex">
          <h1 class="text-4xl text-rose font-Fredo  font-semibold">AFFICHE HIERO</h1>
          <p class="text-jaune text-2xl font-Fredo font-semibold">2024</p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
          <div class="space-y-4  text-xs md:text-sm 2xl:text-lg">
            <p class="">
              Pour ce projet, nous avons créé quatre illustrations pour une fédération qui organise des concerts à Limoges. Cette fédération possède un style graphique très distinctif.
            </p>
            <p class="">
              Pour réaliser nos illustrations, nous avons utilisé Photoshop. Cela m’a permis d’apprendre à créer des pinceaux personnalisés et à utiliser cet outil pour le dessin, une technique que je n’avais encore jamais explorée.
            </p>
            <p class="">
              De plus, au fil des illustrations, nous devions progressivement nous détacher du style graphique de la fédération HIERO. J’ai opté pour un style avec du grain et des personnages sans visage, afin de créer un univers empreint d’une atmosphère horrifique.
            </p>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <img src="herio2.webp" alt="Illustration HIERO 1" >
            <img src="herio3.webp" alt="Illustration HIERO 2" class="">
            
          </div>
        </div>
      </section>
    </div>
  </body>
  </html>

    <h1></h1>
  </body>
</html>
