---
const pageTitle = "A propos de moi";
const identity = {
  firstName: "Charlotte",
  country: "Charlotte",
  occupation: "Charlotte",
};

const skills = [
  "HTML",
  "CSS",
  "Javascript",
  "React",
  "Astro",
  "Rédaction de documentation",
];

import motion from "./motion.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-bg">
    <nav
      class="bg-bg text-marron font-Fredo font-semibold text-base md:text-3xl"
    >
      <div
        class="flex justify-between items-center px-3 py-3 md:px-8 md:py-4 pb-10"
      >
        <a class="hover:text-bleu" href="/">ACCUEIL</a>
        <div class="flex items-center space-x-2 md:space-x-4">
          <a class="hover:text-jaune" href="/about">MES PROJECTS</a>
          <img src="/etoileB.webp" class="md:w-10 w-6" />
          <a class="hover:text-rose" href="/contact">CONTACT</a>
        </div>
      </div>
    </nav>
    <img src="/projet.webp" class="w-5/5 block md:hidden" />
    <img src="/projets2.webp" class="w-5/5 hidden md:block xl:w-4/5 mx-auto" />
    <div class="container mx-auto p-6 gap-10 grid xl:grid-cols-2 ">
      <!-- Motion Design Section -->
      <section>
        
        <div class="place-content-between flex ">
          <img
              src="motion1.webp"
              alt="Illustration HIERO 1"
              class="w-auto h-80 xl:h-96"
            />
          <div class=" flex flex-col pl-10">
            <h1 class="text-4xl text-rose uppercase font-Fredo font-semibold">
              Motion design
            </h1>
            <p class="text-jaune text-2xl font-Fredo font-semibold">2024</p>
                <p class="text-xs md:text-sm 2xl:text-lg">
                Pour ce projet scolaire, nous avons décidé de reprendre des
                illustrations que nous avions déjà réalisées et de les adapter
                en un motion design d’une durée de 15 à 30 secondes environ.
                </p>
              <img src="pro-aftereffects.webp" class="w-12 md:w-14 xl:w-20 pt-3" />
              <a href="motion" class="text-2xl font-Fredo font-semibold text-marron pt-10 hover:text-rose">EN SAVOIR PLUS</a>
            </div>
        </div>
      </section>


      <!-- Affiche HIERO Section -->
      <section>
        
        <div class="place-content-between flex ">
          <img
              src="motion2.webp"
              alt="Illustration HIERO 1"
              class="w-auto h-80 xl:h-96"
            />
          <div class=" flex flex-col pl-10">
            <h1 class="text-4xl text-rose uppercase font-Fredo font-semibold">
              Affiche hiero
            </h1>
            <p class="text-jaune text-2xl font-Fredo font-semibold">2024</p>
                <p class="text-xs md:text-sm 2xl:text-lg">
                  Pour ce projet scolaire, nous avons créé quatre illustrations pour une fédération qui organise des concerts à Limoges. Cette fédération possède un style graphique très distinctif.
                </p>
              <img src="pro-photoshop.webp" class="w-12 md:w-14 xl:w-20 pt-3" />
              <a href="motion" class="text-2xl font-Fredo font-semibold text-marron pt-10 hover:text-rose">EN SAVOIR PLUS</a>
            </div>
        </div>
      </section>
    </div>
    <div>
      <img src="/footer.webp" alt="footer" class=" mt-16 mb-12 xl:w-3/5 mx-auto md:w-4/5">
    </div>
  </body>
</html>

<h1></h1>
