---
const pageTitle = "A propos de moi";
const identity = {
  firstName: "Charlotte",
  country: "Charlotte",
  occupation: "Charlotte",
};

const skills = [
  "HTML",
  "CSS",
  "Javascript",
  "React",
  "Astro",
  "Rédaction de documentation",
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-bg">
    <nav
      class="bg-bg text-marron font-Fredo font-semibold text-base md:text-3xl"
    >
      <div
        class="flex justify-between items-center px-3 py-3 md:px-8 md:py-4 pb-10"
      >
        <a href="/">ACCUEIL</a>
        <div class="flex items-center space-x-2 md:space-x-4">
          <a href="/about">MES PROJECTS</a>
          <img src="/etoileB.webp" class="md:w-10 w-6" />
          <a href="/contact">CONTACT</a>
        </div>
      </div>
    </nav>
    <img src="/contact.webp" />

    <ul class=" space-y-6  my-8 mx-12">
      <li>
        <p class=" text-rose uppercase font-semibold text-xl dm:text-3xl xl:text-4xl"> Mail :</p>
        <p class="text-marron font-normal text-sm dm:text-xl xl:text-2xl">charlottedourneau09@gmail.com</p> 
      </li>
      <li>
        <p class=" text-jaune uppercase font-semibold text-xl dm:text-3xl xl:text-4xl"> numéro :</p>
        <p class="text-marron font-normal text-sm dm:text-xl xl:text-2xl">06 44 39 38 34</p> 
      </li>
      <li>
        <p class=" text-bleu uppercase font-semibold text-xl dm:text-3xl xl:text-4xl"> portfolio behance :</p>
        <p class="text-marron font-normal text-sm dm:text-xl xl:text-2xl">https://www.behance.net/charlotdourne</p> 
      </li>
    </ul>
    <a class="text-3xl" href="/post-2.md">CONTACT</a>


  </body>
</html>
