---
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-bg">
    <Navigation />
    <main class="bg-bg font-Fredo font-semibold text-marron">
        <slot />
        <img src="/projet.webp" class="w-5/5 block 2xl:hidden" />
      <img src="/projets2.webp" class="w-5/5 hidden 2xl:block" />
      </main>
    </body>
    <div>fhue</div>
    
  </html>
  