<nav class=" bg-bg text-marron font-Fredo  font-semibold text-base md:text-3xl" >
    <div class=" flex justify-between items-center px-3 py-3 md:px-8 md:py-4 pb-10">
      <a class="hover:text-bleu" href="/">ACCUEIL</a>
      <div class="flex items-center space-x-2 md:space-x-4">
        <a class="hover:text-jaune" href="/about">MES PROJECTS</a>
        <img src="/etoileB.webp" class="md:w-10 w-6">
        <a class="hover:text-rose" href="/contact">CONTACT</a>
      </div>
    </div>
  </nav>